:root {
    --white-color: #ffffff;
    --white-transparent: rgba(255, 255, 255, 0.6);

    --primary-background: #f5f5f5;
    --section-background: #f5f4fa;
    --footer-background: #2f303a;

    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196f3;
    --accent-hero-btn: #188ce8;

    --border-color: #eeeeee;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    margin: 0px;
    padding: 0px;

    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 14px;

    background-color: var(--white-color);
    color: var(--primary-text-color);
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

/* ------------------------- Header ----------------------- */

.page-header {
    display: flex;
    align-items: center;
    height: 80px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav .logo {
    display: inline-block;
    margin-right: 90px;
}

.logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
}

.white {
    color: var(--white-color);
}

.logo > span {
    color: var(--accent-text-color);
}

.nav-list,
.contact-list {
    display: flex;
}

.contact-list {
    margin-left: auto;
}

.nav-list-item:not(:last-child),
.contact-list-item:not(:last-child) {
    margin-right: 50px;
}

.nav-link,
.contact-link {
    display: block;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--title-text-color);
}

.nav-link.current {
    color: var(--accent-text-color);
}

.contact-link {
    color: inherit;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: var(--accent-text-color);
}

/* ------------------------- Footer ----------------------- */

.footer {
    background-color: var(--footer-background);
}

.footer .container {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .logo {
    display: block;
    margin-bottom: 20px;
}

.address {
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--white-color);
}

.address-list .address-list-item + .address-list-item {
    margin-top: 9px;
}

.footer-contact-link {
    font-size: 14px;
    line-height: 1.71;

    color: var(--white-transparent);
}

/* ------------------------- Hero section ----------------------- */

.hero-sec {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--footer-background);

    text-align: center;
}

.hero-title {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 700px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--white-color);
}

.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;

    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    background-color: var(--accent-text-color);
    color: var(--white-color);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--accent-hero-btn);
}

.btn {
    font-family: inherit;
    cursor: pointer;
    border-color: transparent;
    border-radius: 4px;
}

/* ------------------------- Features WhatWeDo sections ----------------------- */

.section {
    margin-top: 95px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.section-subtitle {
    font-weight: 700;
    font-size: inherit;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}

.section-text {
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.feature-list {
    display: flex;
}

.feature-list .fl-item + .fl-item {
    margin-left: 30px;
}

.fl-item .section-subtitle {
    margin: 0px;
}

.fl-item .section-text {
    margin-top: 10px;
    margin-bottom: 0px;
}

.description-list {
    display: flex;
}

.description-list > .dl-item + .dl-item {
    margin-left: 30px;
}

/* ------------------------- AboutUs section ----------------------- */

.team-section {
    background-color: var(--section-background);
    padding-top: 95px;
    padding-bottom: 95px;
}

.team-section .section-title {
    margin-bottom: 50px;
}

.teammate-list {
    display: flex;
}

.teammate-list-item {
    font-size: 16px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.teammate-list-item + .teammate-list-item {
    margin-left: 30px;
}

.teammate-list .section-subtitle {
    font-weight: 500;
    line-height: 1.18;
    text-align: center;
    text-transform: none;
    letter-spacing: 0.03em;
}

.teammate-list .position {
    font-weight: 400;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.teammate-description {
}

/* ------------------------- Portfolio section ----------------------- */

.filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    background-color: var(--section-background);
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--accent-text-color);
    color: var(--white-color);
}

.portfolio-item {
    background-color: var(--white-color);
    color: var(--primary-text-color);
}

.portfolio-item > a {
    color: inherit;
}

.portfolio-item .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--title-text-color);
}

.portfolio-item .category {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
}
